.div_main {
  width: 100%;
  height: 100vh;
  background: green;
  position: relative;
  .div_bg_first {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(to bottom, #7f7fd5, #86a8e7, #91eae4);
    transition: opacity 1s cubic-bezier(0.6, 0.01, 0.52, 1);
    &.div_bg_active {
      opacity: 1;
      transition: opacity 2s cubic-bezier(0.6, 0.01, 0.52, 1);
    }
  }
  .div_bg_second {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(to top, #bc4e9c, #f80759);
    transition: opacity 1s cubic-bezier(0.6, 0.01, 0.52, 1);

    &.div_bg_active {
      opacity: 1;
    }
  }
  .div_bg_third {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to top, #8360c3, #2ebf91);
    opacity: 0;
    &.div_bg_active {
        opacity: 1; 
      }
  }
  .div_bg_fourth {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to bottom, #8e2de2, #4a00e0);
    opacity: 0;
    &.div_bg_active {
        opacity: 1;
      }
  }

}
