.main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  margin: 0;
  .login_Bg {
    width: 55%;
    height: 100vh;
    position: relative;
  }
  .login_section {
    width: 45%;
    height: 100vh;
    .login_div_sigin{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .login_div_signup{
    }
  }
}

.login_div {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .login_div_center {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
}

.login_div_center {

  .login_sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    .login_h2, .login_h3{
        font-family: 'Roboto', sans-serif;
        font-weight: 800; 
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        opacity: 0.5;
        color:  #334562;
        transition: opacity 0.3s;
        cursor: pointer;

        &:hover{
            opacity: 1;
            transition: opacity 0.3s;
        }

       

    }

    .login_h2_active, .login_h3_active{
      font-family: 'Roboto', sans-serif;
      font-weight: 800; 
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      opacity: 1;
      color:  #334562;
      transition: opacity 0.3s;
    }
     
  }

  .login_reset {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 60%;
    .login_h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 800; 
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        opacity: 0.5;
        color:  #334562;
        transition: opacity 0.3s;
        cursor: pointer;
        &:hover{
            opacity: 1;
            transition: opacity 0.3s;
        }

        &.-active{
            opacity: 1;
        }
    }
    .login_h2_active{
      font-family: 'Roboto', sans-serif;
      font-weight: 800; 
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      opacity: 1;
      color:  #334562;
      transition: opacity 0.3s;
    }
  }
}

.login_signIn{
}
