.div_main {
  width: 50%;
  height: 90%;
  .form {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: flex-start;
    position: relative;
    .div_inputs{
      height: 280px;
      overflow: hidden;
      transition: height 0.4s ease-out;
      &.signup{
        height: 140px;
        transition: height 0.4s ease-out;
      }
      &.reset{
        height: 75px;
        transition: height 0.4s ease-out;
      }
    }
   
  }
}

.div_email {
  display: grid;
    .input_email {
        height: 50px;
        border-style: none;
        width: 98%;
        margin: auto;
        background: #F2F2F2;
        border-radius: 8px;
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        outline: none;
        text-indent: 20px;

        &::placeholder{
          color: rgb(80, 80, 82);
          font-family: 'Roboto', sans-serif;
        font-size: 16px;
        }
    }
}



.div_password{
  display:grid;
    width:100%;
    .input_password {
        height: 50px;
        border-style: none;
        width: 98%;
        margin: auto;
        background: #F2F2F2;
        border-radius: 8px;
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        outline: none;
        text-indent: 20px;

        &::placeholder{
          color: rgb(80, 80, 82);
          font-family: 'Roboto', sans-serif;
        font-size: 16px;
        }
    }

}
.div_fullname{
  display:grid;

    width:100%;
    .input_fullname {
        height: 50px;
        border-style: none;
        width: 98%;
        margin: auto;
        background: #F2F2F2;
        border-radius: 8px;
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight:500;
        outline: none;
        text-indent: 20px;

        &::placeholder{
          color: rgb(80, 80, 82);
          font-family: 'Roboto', sans-serif;
        font-size: 16px;
        }
    }
}
.div_username{
  display:grid;
    width:100%;
    .input_username {
        height: 50px;
        border-style: none;
        width: 98%;
        margin: auto;
        background: #F2F2F2;
        border-radius: 8px;
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        outline: none;
        text-indent: 20px;

        &::placeholder{
          color: rgb(80, 80, 82);
          font-family: 'Roboto', sans-serif;
        font-size: 16px;
        }
    }
}

.div_handleData{
  display:grid;
    .button_signin,  .button_signup, .button_reset {
        height:50px;
        width: 100%;
        margin: auto;
        background: #ff4566;
        border-style: none;
        box-shadow: 0 10px 34px rgba(255,68,102,.4), 0 2px 16px rgba(255,68,102,.2);
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: #FFF;
        transition: box-shadow 0.5s, opacity 0.5s;
        border-radius: 8px;
        cursor: pointer;
        &:hover{
            box-shadow: none;
            transition: box-shadow 0.5s;
        }
    }
}


.div_email{
  position: relative;
  .div_transition{
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-bottom: 12px solid #F2F2F2;;
    border-right: 10px solid transparent; 
    position: absolute;
    top: 5px;
    left: 7%;
    transition:  left 0.3s;

    &.signup{
      left:32%;
      transition:  left 0.3s;
    }
    &.reset{
      left: 90%;
      transition:  left 0.3s;

    }
  }
 
  
  
}